{% extends 'base.html' %}

{% block title %} Home {% endblock title %} 

{% block body %} 

{% if user.is_authenticated %}

<div class="container my-4">
  <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" style="height: 360px; width: 1280px;">
          <img src="static\images\carousel_img1.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block text-dark">
            <h5>Virtual Dressing Room</h5>
            <p>Try garments virtually and save your time</p>
          </div>
        </div>
        <div class="carousel-item" style="height: 360px; width: 1280px;">
          <img src="static\images\carousel_img2.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Get best suit for you</h5>
            <p>Select the garment and we will provide you the size recommendations</p>
          </div>
        </div>
        <div class="carousel-item" style="height: 360px; width: 1280px;">
          <img src="static\images\carousel_img3.png" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>No longer queues and contactless try-on</h5>
            <p>Get relief from the longer queues and the security concerns in the traditional shopping</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="jumbotron my-5">
      <div>
        <p style="font-family:Georgia, 'Times New Roman', Times, serif; text-align: center; font-size: 50px;">
          <b>FashionEnza</b>
        </p>
      </div>
      <hr class="my-4">
      <div style="text-align: center;">
        <h3>Welcome {{fname}} !!! </h3>
          <a href="/tryon" class="btn btn-outline-secondary btn-lg active" role="button" aria-pressed="true">Try-on</a>
      </div>
    </div>
</div>
{% endif %}

{% endblock body %}