{% extends 'base.html' %}

{% block title %} Upload Image {% endblock title %}

{% block body %} 
    <div class="container">

            <!--Simple Form-->
            <h2 class="my-4">Upload the image of garment</h2>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
                  <input type="file" name="upload" accept="image/*" >
                  <br>
                  <button class="btn btn-dark my-4" type="submit" >Submit</button>
            </form>
            Click the below button to capture the photo of yourself for virtual try-on
            <div>
            To save the image click s otherwise click q :
            </div>
            <form method="post" enctype="multipart/form-data"> 
                {% csrf_token %} 
                <button type="submit" name="capture">Capture</button> 
            </form> 
    </div>
{% endblock body %} 
